<div class="boardContainer">
  <wernerware-board [width]="config.gameWidth"
             [height]="config.gameHeight"
             [numRows]="config.numRows"
             [numCols]="config.numCols"
             (tileClicks)="handleDisplayBoardTileClick($event)"
             #display></wernerware-board>
</div>
<div class="boardContainer">
  <wernerware-board [width]="config.controlsWidth"
             [height]="config.controlsHeight"
             [numRows]="config.controlsRows"
             [numCols]="config.controlsCols"
             (tileClicks)="handleControlBoardTileClick($event)"
             #control></wernerware-board>
</div>
