<div class="boardContainer">
  <wernerware-board [width]="400"
             [height]="400"
             [numRows]="10"
             [numCols]="10"
             (tileClicks)="handleDisplayBoardTileClick($event)"
             #display></wernerware-board>
</div>
<div class="boardContainer">
  <wernerware-board [width]="400"
             [height]="40"
             [numRows]="1"
             [numCols]="10"
             (tileClicks)="handleControlBoardTileClick($event)"
             #control></wernerware-board>
</div>
