<div class="boardContainer">
  <wernerware-board [width]="400"
             [height]="400"
             [numRows]="20"
             [numCols]="20"
             (tileClicks)="handleDisplayBoardTileClick($event)"
             #display></wernerware-board>
</div>
<div class="boardContainer">
  <wernerware-board [width]="400"
             [height]="67"
             [numRows]="1"
             [numCols]="6"
             (tileClicks)="handleControlBoardTileClick($event)"
             #control></wernerware-board>
</div>
